
// Primary

$s_blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$cyanl: hsla(178, 100%, 50%, 0.7);
// Neutral

$vd_blue_main: hsl(217, 54%, 11%);
$vd_blue_card: hsl(216, 50%, 16%);
$vd_blue: hsl(215, 32%, 27%);
